

body {
    background-color: #F7F7F7;
}

h1 {
    color: black;
    font-family: 'Karla', sans-serif;
    font-size: 36px;
    font-weight: 2000;
    letter-spacing: -1px;
}

p {
    color: grey;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    font-family: 'Karla', sans-serif;
    color: black;
    text-align: left;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: pink;
}

/* Add a color to the active/current link */
.topnav a:active {
    color: black;
}

/*.topnav a:visited {
    color: grey;
}*/

.personalstatement {
    float: left;
    display: block;
    padding: 100px;
}
